<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>  
        <a [routerLink]="['/pages']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file-text-o"></i>&nbsp;{{ 'pages' | translate }}
        </a>
        <a [routerLink]="['/banners']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-image"></i>&nbsp;{{ 'banners' | translate }}
        </a>
        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;{{ 'users' | translate }}
        </a>
        <a routerLink="['/settings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cogs"></i>&nbsp;{{ 'settings' | translate }}
        </a>    
    </ul>
</nav>
