<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <!-- <img src="assets/images/logo.png" width="150px" class="user-avatar" /> -->
            <h1>MEAN Stack CMS</h1>
            
            <form role="form">
                <p>Recover your password</p>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <select class="form-control input-underline input-lg" id="" placeholder="Password">
                            <option>Select the security question</option>
                            <option>What is your pet name?</option>
                            <option>What is name of your first school</option>
                        </select>
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/login']" (click)="onLoggedin()">Recover </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">Login</a>
            </form>
        </div>
    </div>
</div>
