<div [@routerTransition]>    
    <h1><a [routerLink]="['/banner/add']"><button class="btn btn-primary"><i class="fa fa-plus-square"></i>&nbsp;Add Banner</button></a></h1>
    <app-page-header [heading]="'List Banners'" [icon]="'fa-file-text'" ></app-page-header>
    <data-table id="films-grid"
        headerTitle="Banner List"
        [items]="films"
        [itemCount]="filmCount"
        (reload)="reloadFilms($event)"

        [limit]="10"
        [sortBy]="'rating'"
        [sortAsc]="false"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="false"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
        <template #dataTableExpand let-item="item">
            <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
        </template>
        <data-table-column
            [property]="'title'"
            [header]="'Title'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'year'"
            [header]="'Release year'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'rating'"
            [header]="'Rating'"
            [sortable]="true"
            [cellColors]="cellColor">
        </data-table-column>
        <data-table-column
            [property]="'director'"
            [header]="'Director'">
        </data-table-column>
    </data-table>
    <div style="margin-top: 10px">
        <b>Selected:</b>
        <span *ngIf="filmsTable.selectedRow == null"><i>No item selected</i></span>
        <span [textContent]="filmsTable.selectedRow && filmsTable.selectedRow.item.title"></span>
    </div>

</div>